@model PlayerPanelVm

@{
    ViewData["Title"] = "Player Panel";
}

<h2>Player Panel: @Model.Player.Name</h2>

<div class="container mt-4">
    <div class="row">
        <div class="col-12 col-md-6">
            <h3>Your Animals:</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Animal</th>
                        <th>Count</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var animal in Model.Player.Animals)
                    {
                        <tr>
                            <td>@animal.Key</td>
                            <td>@animal.Value</td>
                        </tr>
                    }
                </tbody>
            </table>

            <h3>Dices Roll:</h3>
            @if (Model.Player.IsDiceRolled)
            {
            <p class="fs-4">
                <span class="badge bg-success me-2">@Model.DiceRsult[0]</span>
                <span class="badge bg-danger ">@Model.DiceRsult[1]</span>
            </p>
            <br />
            <a href="/Game/PlayerPanel/false/true/0" class="btn btn-primary">Kolejny gracz</a>   
            }
            else
            {
            <a href="/Game/PlayerPanel/true/false/0" class="btn btn-primary">Roll dices</a>    
            }

        </div>
        <div class="col-12 col-md-6">
            
            

            <h3>Trade Options:</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th>Offer</th>
                            <th>Request</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var offer in Model.TradeOffers)
                        {
                            <tr>
                                <td class="text-success">@offer.OfferedAnimals.Values.FirstOrDefault() @offer.OfferedAnimals.Keys.FirstOrDefault()</td>
                                <td class="text-danger">@offer.RequestedAnimals.Values.FirstOrDefault() @offer.RequestedAnimals.Keys.FirstOrDefault()</td>
                                @if(offer.CanBeExecuted)
                                {
                                    <td><a href="/Game/PlayerPanel/false/false/@offer.Id" class="btn btn-success">Trade</a></td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

